# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies (의존성 라이브러리 폴더)
/node_modules
node_modules/

# testing (테스트 관련 폴더 - 필요에 따라)
/coverage
coverage/

# production (빌드 결과물 폴더)
/build
build/

# misc (기타)
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*